
{% extends 'base/manager-base.html' %} 
{% load static %} 
{% block container %}

<!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        
    {% include 'include/manager-nav.html' %}

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Users Table</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>username</th>
                                                <th>email</th>
                                                <th>is_customer</th>
                                                <th>is_store</th>
                                                <th>is_agent</th>
                                                <th>is_manager</th>
                                                <th>Edit</th>
                                                <th>Delet</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for instance in instances %}
                                            <tr>
                                                <td>{{ instance.id }}</td>
                                                <td>{{ instance.username }}</td>
                                                <td>{{ instance.email }}</td>
                                                <td>{{ instance.is_customer }}</td>
                                                <td>{{ instance.is_store }}</td>
                                                <td>{{ instance.is_agent}}</td>
                                                <td>{{ instance.is_manager }}</td>
                                                <td><a href=""><button type="button" class="btn mb-1 btn-outline-primary">Edit</button></a></td>
                                                <td><a href="{% url 'manager:orders_delete' id=instance.id %}"><button type="button" class="btn mb-1 btn-outline-danger">Delete</button></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>username</th>
                                                <th>email</th>
                                                <th>is_customer</th>
                                                <th>is_store</th>
                                                <th>is_agent</th>
                                                <th>is_manager</th>
                                                <th>Edit</th>
                                                <th>Delet</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    {% endblock %}