{% extends 'base/web-base.html' %} 
{% load static %} 
{% block container %}


    <section id="home">
        <section class="">
            <header class="px-[3%] h-[70px] grid grid-cols-3 items-center">
                <a href="{% url 'web:cart' %}"><img class="w-[25px] col-span-1" src="{% static 'web/images/arrow.png' %}" alt=""></a>
                <h1 class="text-[25px] text-gray-600 font-[700] col-span-1 text-center">Checkout</h1>
            </header>
            <section class="spotlight max-w-[620px] m-auto mt-[20px]">
                <div class="cart p-[20px] mb-[10px] rounded-[10px]">
                    <h3 class="text-[18px] text-gray-700 font-[600] mb-[20px]">BILL DETAILS</h3>
                    <ul class="flex justify-between items-center">
                        <li class="text-[16px] text-gray-600 font-[600] mb-[px]">Item Total</li>
                        <li class="text-[16px] text-gray-600 font-[600]">₹ {{item_total}}</li>
                    </ul>
                    <div class="border-b-[1px] border-gray-300 mb-[10px] mt-[10px]"></div>
                    <ul class="flex justify-between items-center">
                        <li class="text-[16px] text-gray-600 font-[600] mb-[px]">Offer Applied</li>
                        <li class="text-[16px] text-gray-600 font-[600]">₹ {{offer}}</li>
                    </ul>
                    <div class="border-b-[1px] border-gray-300 mb-[10px] mt-[10px]"></div>
                    <ul class="flex justify-between items-center">
                        <li class="text-[16px] text-gray-600 font-[600] mb-[px]">Delivery Charges (40KM)</li>
                        <li class="text-[16px] text-gray-600 font-[600]">₹ {{delivery}}</li>
                    </ul>
                    <div class="border-b-[1px] border-gray-300 mb-[10px] mt-[10px]"></div>
                    <ul class="flex justify-between items-center">
                        <li class="text-[17px] text-black font-[600] mb-[px]">To Pay</li>
                        <li class="text-[17px] text-black font-[600]">₹ {{total}}</li>
                    </ul>
                </div>
                <div class="cart p-[20px] mb-[10px] rounded-[10px]">
                    <h3 class="text-[18px] text-gray-700 font-[600] mb-[10px]">PAYMENT METHODS</h3>
                    <form action="{% url 'web:checkout' %}" method="POST">
                        {% csrf_token %}
                        <div class="flex items-center mb-4">
                            <input type="radio" id="credit-debit-upt" name="payment_method" value="CREDIT/DEBIT/UPT" class="mr-2" required>
                            <label for="credit-debit-upt" class="text-[16px] text-gray-700 font-[600]">CREDIT/DEBIT/UPT</label>
                        </div>
                        <div class="border-b-[1px] border-gray-300 mb-[10px]"></div>
                        <div class="flex items-center mb-4">
                            <input type="radio" id="cod" name="payment_method" value="COD" class="mr-2">
                            <label for="cod" class="text-[16px] text-gray-700 font-[600]">COD</label>
                        </div>
                        <button type="submit" class="mt-[20px] flex justify-center w-[100%] py-[8px] rounded-xl bg-red-600 text-[17px] font-[600] text-white">
                            PLACE ORDER
                        </button>
                    </form>
                    
                </div>
            </section>
        </section>
    </section>

    
    {% endblock %}