{% extends 'base/web-base.html' %} 
{% load static %} 
{% block container %}
{% include 'include/header.html' %}

<section id="home" class="px-4 py-6 md:px-8 md:py-12">
    <section class="container mx-auto max-w-2xl"> <!-- Constrain width to approximately 50% -->
        <section class="spotlight bg-white shadow-md rounded-lg p-4 md:p-6">
            <div class="flex flex-col md:flex-row items-center md:space-x-4">
                <img class="w-full md:w-[170px] md:mr-4 rounded-md mb-4 md:mb-0" src="{{singlerest.image.url}}" alt="{{singlerest.name}}">
                <div class="flex-1">
                    <h3 class="text-lg md:text-xl text-gray-700 font-semibold mb-2">{{singlerest.name}}</h3>
                    <p class="text-sm text-gray-600 mb-2">{{singlerest.discription}}</p>
                    <ul class="flex flex-wrap mb-2">
                        <li class="flex items-center text-sm text-gray-600 font-semibold mr-4 mb-1">
                            <img class="w-4 h-4 mr-2" src="{% static 'web/images/star.png' %}" alt="Rating">{{singlerest.rating}}
                        </li>
                        <li class="flex items-center text-sm text-gray-600 font-semibold mb-1">
                            <img class="w-4 h-4 mr-2" src="{% static 'web/images/clock.png' %}" alt="Time">{{singlerest.time}}
                        </li>
                    </ul>
                    <h6 class="text-red-500 text-sm font-bold flex items-center">
                        <img class="w-4 h-4 mr-2" src="{% static 'web/images/discount.png' %}" alt="Discount">UPTO {{singlerest.discount}}% DISCOUNT
                    </h6>
                </div>
            </div>
        </section>

        <section class="mt-6">
            {% for foodcategory in foodcategories %}
                <h2 class="text-xl md:text-2xl text-gray-700 font-semibold mt-8 mb-6">{{ foodcategory.name }}</h2>

                {% for fooditem, quantity in prod_with_qty %}
                    {% if fooditem.foodcategory == foodcategory %}
                        <div class="border-b border-gray-300 mb-4">
                            <div class="flex flex-col md:flex-row items-center justify-between">
                                <div class="flex items-center w-full md:w-auto">
                                    {% if fooditem.is_veg %}
                                        <img src="{% static 'web/images/veg.png' %}" class="w-4 h-4 mr-2">
                                    {% else %}
                                        <img src="{% static 'web/images/non.png' %}" class="w-4 h-4 mr-2">
                                    {% endif %}
                                    <div class="flex flex-col">
                                        <h6 class="text-lg text-gray-700 font-semibold mb-1">{{ fooditem.name }}</h6>
                                        <h6 class="text-lg text-gray-600 font-semibold mb-2">₹ {{ fooditem.price }}</h6>

                                        {% if quantity > 0 %}
                                            <div class="flex items-center border border-gray-200 rounded-lg">
                                                <a href="{% url 'web:cart_minus' id=fooditem.id %}" class="bg-green-500 hover:bg-green-600 text-white text-sm font-semibold px-2 py-1 rounded-l-lg">-</a>
                                                <p class="bg-white text-black text-sm font-semibold px-2 py-1">{{ quantity }}</p>
                                                <a href="{% url 'web:cart_plus' id=fooditem.id %}" class="bg-green-500 hover:bg-green-600 text-white text-sm font-semibold px-2 py-1 rounded-r-lg">+</a>
                                            </div>
                                        {% else %}
                                            <a href="{% url 'web:add_cart' id=fooditem.id %}" class="bg-green-500 hover:bg-green-600 text-white text-xs font-semibold px-2 py-1 rounded border border-gray-200 w-10">ADD</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <img class="w-full md:w-[130px] rounded-md mt-4 md:mt-0" src="{{ fooditem.image.url }}" alt="{{ fooditem.name }}">
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="border-b-4 border-gray-300 mb-6"></div>
            {% endfor %}
        </section>

        {% if carts_count > 0 %}
            <div class="mt-6 flex justify-between items-center px-4 py-2 bg-red-500 hover:bg-red-600 transition duration-300 rounded-xl">
                <p class="text-white font-semibold">{{carts_count}} item | ₹ {{cart_amount}}</p>
                <a href="{% url 'web:cart' %}" class="text-white font-semibold flex items-center bg-red-500 hover:bg-red-700 transition duration-300 p-2 rounded-lg">
                    View Cart
                    <img class="w-5 h-5 ml-2" src="{% static 'web/images/cart.png' %}" alt="Cart">
                </a>
            </div>
        {% endif %}
    </section>
</section>

{% endblock %}
